
.SubDirectory-Parent{
    margin-left: 2rem;
    color:#b9bbbe;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
}
.SubDirectory{
    margin:2px;
    padding: 2px;
}

