.DirectoryBar-parent{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    
}
.DirectoryBar-List{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 80vh-3rem;

}
.DirectoryBar-User{
    height: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    border-bottom: thin solid #b9bbbe;
    margin-bottom: 2rem;
}

.Directory{
    width: 15vw;
    
    background-color: #000000;
    color:#b9bbbe;
    font-family: 'Josefin Sans', sans-serif;
    
}

.active-subdirectory{
    background-color: rgba(203, 196, 196, 0.51);
}

.Project-Details{
    padding: 5px;
}
.Project-Id{
    font-size: small;
}