.Directory-Parent{
    color:#b9bbbe;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    border-bottom: thin solid #5a5b5e;
}
.Directory{
    padding:1rem;
}
.Directory *{
    margin: 0px;
}
